@font-face {
    font-family: "Helvetica_Light";
    src: url("../fonts/helvetica/HelveticaNeueCyr-Light.otf");
/*    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");*/
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Helvetica_NeueCyr_Medium";
    src: url("../fonts/helvetica/HelveticaNeueCyr-Medium.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Helvetica_NeueCyr_Roman";
    src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Helvetica_NeueCyr_LightItalic";
    src: url("../fonts/helvetica/HelveticaNeueCyr-LightItalic.otf");
    font-style: normal;
    font-weight: normal;
}