html,
body {
    height: 100%;
    background-color: white !important;
    font-family: 'Helvetica_Light' !important;
}

* {
    font-family: 'Helvetica_Light' !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.site_header_block {
    text-align: center;
    padding: 20px;
    background-color: #80c565;
    position: relative;
    height: 170px;
}

.site_header_block .menu_block {
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 23px;
}

.input_with_filter_bottom .input-group input {
    width: 98%;
}

.site_header_block .menu_block button {
    background-image: url(/images/buttton_menu.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 90%;
    text-shadow: none;
    box-shadow: none;
    border: 0px solid transparent;
    width: 20px !important;
    height: 20px;
    min-width: 20px !important;
}

.site_header_block .column {
}

.site_header_block .site_logo {
    width: 150px;
}

.input_with_filter_bottom .input-group button {
    background-color: transparent;
    border: 0px solid transparent;
    background-image: url(/images/filter_icon.png);
    width: 30px;
    height: 30PX;
    background-size: 100%;
    padding-left: 5px;
}

.input_with_filter_bottom .input-group input {
    padding: 20px 12px;
}

.input_with_filter_bottom .input-group input {
    background: url(/images/icon_search.png) no-repeat scroll 9px 12px;
    background-color: white;
    padding-left: 37px;
    border-radius: 6px !important;
}

.las_video_33 {
    padding-left: 20px;
    padding-right: 20px;
}

.img_vid_ff {
    width: 60px !important;
    border-radius: 30px !important;
    height: 60px !important;
}

input.search_filter {
    background: url(/images/icon_search.png) no-repeat scroll 98% 17px;
    height: 50px;
    border: 1px solid #dad7d6;
    box-shadow: none;
    font-family: "Helvetica_NeueCyr_LightItalic" !important;
    color: #788277 !important;
    font-size: 17px;
    margin-bottom: 20px;
}

.padding_0 {
    padding: 0px;
}

.a_sbros {
    color: #484f54;
    font-size: 18px;
    border: 1px solid #aab4b9;
    display: block;
    text-align: center;
    padding: 13px 15px;
    border-radius: 25px;
    height: 50px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    margin-top: 10px;
}

.pad_dd {
    padding: 20px 20px 12px 20px;
}

.a_usk {
    background-color: #80c565;
    color: white;
    display: block;
    padding: 13px 15px;
    border-radius: 25px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    margin-top: 10px;
}

.sel_filt_bas {
    height: 50px;
    border: 1px solid #dad7d6;
    box-shadow: none;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    color: #788277 !important;
    font-size: 17px;
    margin-bottom: 20px;
}

.filt_name_23 {
    font-size: 15px;
    font-family: "Helvetica_NeueCyr_Medium" !important;
    color: #788277;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.input_with_filter_bottom .input-group-btn {
    padding-left: 7px;
}

.left_menu_sidebar {
    list-style-type: none;
    padding: 0px;
}

.left_menu_sidebar li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.left_menu_sidebar li a {
    color: #788277 !important;
    box-shadow: none !important;
}

.left_menu_sidebar li a:before {
    /*display:none !important;*/
    content: '' !important;
    width: 22px;
    height: 21px;
    background-size: 100% 100%;
    margin-right: 25px;
}

.left_menu_sidebar li button {
    color: #788277 !important;
    box-shadow: none !important;
    font-size: 17px;
}

.left_menu_sidebar li button:before {
    /*display:none !important;*/
    content: '' !important;
    width: 21px;
    height: 22px;
    background-size: 100% 100%;
    margin-right: 25px;
}

.left_menu_sidebar li button {
    background-color: transparent;
    display: block;
    padding: 1em 1em 1em 1.9em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    font-family: "Helvetica_NeueCyr_Medium" !important;
}

.left_menu_sidebar li.one a:before {
    background-image: url(/images/menu_icon/menu_1.png) !important
}

.left_menu_sidebar li.two a:before {
    background-image: url(/images/menu_icon/menu_2.png) !important
}

.left_menu_sidebar li.three a:before {
    background-image: url(/images/menu_icon/menu_3.png) !important
}

.left_menu_sidebar li.four a:before {
    background-image: url(/images/menu_icon/menu_4.png) !important
}

.left_menu_sidebar li.five a:before {
    background-image: url(/images/menu_icon/menu_5.png) !important
}

.left_menu_sidebar li.six button:before {
    background-image: url(/images/menu_icon/menu_6.png) !important
}

.videoBoxContent .video_item.prem img {
    width: 100%;
    height: 300px;
}

.videoBoxContent .video_item.prem {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.videoBoxContent .video_item.prem {
    margin-bottom: 20px
}

.favoriteVideoBlock .video_item.prem img {
    width: 100%;
}

.favoriteVideoBlock .video_item.prem {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.favoriteVideoBlock .video_item.prem {
    margin-bottom: 15px
}

.st-pusher::after {
    z-index: 11;
}

.video_show_arrow_back {
    background-image: url(/images/video/arrow_left_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 23px;
    z-index: 100;
}

.clas_img_rr {
    width: 100%;
    height: 355px;
}

.videoInformationBlock {
    margin-bottom: 20px;
}

.videoInformationBlock p {
    font-size: 15px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    color: #879285 !important;
}

.desc_cate_ff {
    color: #4a4e51 !important;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.h3_des {
    font-size: 22px;
    color: #484f54 !important;
    font-family: "Helvetica_NeueCyr_Medium" !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.otherVideoBlock img {
    width: 160px !important;
    height: 120px;
!important;
}

.videoInformationBlock .eye:before {
    content: '';
    background-image: url(/images/video/eye_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 23px;
    height: 14px;
    margin-right: 5px;
}

.videoInformationBlock .calendar:before {
    content: '';
    background-image: url(/images/video/calendar_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 23px;
    height: 15px;
    margin-right: 5px;
}

.videoInformationBlock .star:before {
    content: '';
    background-image: url(/images/video/star_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 23px;
    height: 15px;
    margin-right: 5px;
}

.form-control {
    border-radius: 0px !important;
}

#login-form .form-control {
    padding: 20px 10px !important;
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

#form-signup .form-control {
    padding: 20px 10px !important;
}

#login-form .form-group {
    margin-bottom: 0px;
}

#login-form .login-button {
    width: 100%;
    border-radius: 25px;
    background-color: #80c565;
    border: 0px;
    padding: 11px 12px;
    font-size: 16px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.user_name_c {
    text-align: center;
    color: #484f54;
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 25px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.st-menu ul li a {
    padding: 1em 1em 1em 1.9em;
}

.st-menu {
    width: 80% !important;
}

#menu-1 hr {
    width: 87%;
    background: #e8e8eb;
}

#login-form .login-button:focus {
    outline: 0;
}

#login-form .signup-button {
    margin-top: 20px;
    width: 100%;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #acb5ba;
    color: #484f54;
    padding: 11px 12px;
    font-size: 16px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.arr_dd {
    padding: 13px 12px 11px 13px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 47px;
    left: 20px;
    background: rgba(128, 197, 101, 0.7);
}

.site_header_block .menu_block button:focus, .input_with_filter_bottom .input-group-btn:focus {
    outline: none;
}

#form-signup .form-group {
    margin-bottom: 0px;
}

#form-signup .login-button {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #acb5ba;
    color: #484f54;
    padding: 11px 12px;
    font-size: 16px;
}

#form-signup .signup-button {
    width: 100%;
    border-radius: 10px;
    background-color: #80c565;
    border: 0px;
    padding: 11px 12px;
    font-size: 16px;
}

.eauth-list {
    margin-top: 20px;
}

.eauth-service.eauth-service-id-vkontakte {
    width: 47%;
    margin: 0px;
    margin-right: 3%;
    text-align: center;
    border: 1px solid #aab4b9;
    padding: 10px;
    border-radius: 25px;
    float: left;
}

.eauth-service.eauth-service-id-vkontakte .eauth-service-link {
    background-image: url(/images/login_vk_icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0px;
    padding-left: 28px;
    width: auto;
    color: #484f54;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    margin-right: 8px;
}

.eauth-service.eauth-service-id-vkontakte .eauth-service-link:active, .eauth-service.eauth-service-id-vkontakte .eauth-service-link:hover {
    text-decoration: none;
}

.eauth-service.eauth-service-id-odnoklassniki .eauth-service-link:active, .eauth-service.eauth-service-id-odnoklassniki .eauth-service-link:hover {
    text-decoration: none;
}

.eauth-service.eauth-service-id-vkontakte .eauth-service-link:before {
    display: none;
}

.eauth-service.eauth-service-id-odnoklassniki {
    width: 47%;
    margin: 0px;
    margin-left: 3%;
    text-align: center;
    border: 1px solid #aab4b9;
    padding: 10px;
    border-radius: 25px;
    float: left;
}

.eauth-service.eauth-service-id-odnoklassniki .eauth-service-link {
    background-image: url(/images/login_odnoklas_icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0px;
    padding-left: 28px;
    width: auto;
    color: #484f54;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    margin-right: 8px;
}

.font_23 {
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.eauth-service.eauth-service-id-odnoklassniki .eauth-service-link:before {
    display: none;
}

.video_filter_arrow_back {
    background-image: url(/images/video/arrow_left_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 10px;
    width: 23px;
    height: 23px;
    z-index: 100;
    position: relative;
    top: 3px;
    margin-right: 19px;
}

.profile_show_arrow_back {
    background-image: url(/images/video/arrow_left_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 23px;
    z-index: 100;
}

.favotite_arrow_back {
    background-image: url(/images/video/arrow_left_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 23px;
    z-index: 100;
}

.contact_arrow_back {
    background-image: url(/images/video/arrow_left_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 23px;
    z-index: 100;
}

.show_more_video_btn {
    background-color: transparent;
    border: 1px solid #80c565;
    border-radius: 25px;
    color: #484f54;
    display: block;
    position: relative;
    bottom: 10px;
}

.edit_profile_button {
    background-color: transparent;
    border: 1px solid #80c565;
    border-radius: 10px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    color: #484f54;
    display: block;
    float: right;
    font-size: 15px;
    padding: 6px 25px;
    border-radius: 20px;
}

.p_roman_dd {
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.user_avatar {
    width: 150px !important;
    height: 150px !important;
    border-radius: 100px;
}

.cancel_profile_button {
    background-color: transparent;
    border: 1px solid #80c565;
    color: #484f54;
    display: block;
    float: right;
    font-size: 15px;
    padding: 6px 25px;
    border-radius: 20px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.change_avatar_button {
    padding: 6px 25px;
    border-radius: 20px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
}

.p_name_sett_dd {
    font-family: "Helvetica_NeueCyr_Roman" !important;
    font-size: 15px;
}

.input_css_red {
    height: 40px;
    border: 1px solid #dad7d6;
    box-shadow: none;
    font-family: "Helvetica_NeueCyr_LightItalic" !important;
    color: #788277 !important;
    font-size: 15px;
    margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 450px) {
    .pad_dd {
        padding: 0;
    }

    input.search_filter {
        font-size: 15px;
    }
}

@media (min-width: 767px) {
    .edit_profile_button {
        float: none;
        margin: 0 auto;
    }

    .cancel_profile_button {
        float: none;
        margin: 0 auto;
    }

    .left_menu_sidebar li a {
        font-size: 13px;
    }

    .video_item .headerInformationBlock {
        padding-top: 0px !important;
    }

    .video_item .headerInformationBlock .vedeo_art {
        font-size: 16px !important;
    }

    .video_item .headerInformationBlock .vedeo_text {
        font-size: 13px !important;
        margin-bottom: 0px;
    }
}

.headerInformationBlock {
    position: absolute;
    left: 120px;
}

.vedeo_art {
    font-size: 18px !important;
    color: #484f54 !important;
    font-family: "Helvetica_NeueCyr_Medium" !important;
    margin-top: 6px;
}

.vedeo_text {
    font-size: 17px !important;
    color: #484f54 !important;
    font-family: "Helvetica_Light" !important;
}

.vedeo_art22 {
    font-size: 22px !important;
    color: #484f54 !important;
    font-family: "Helvetica_NeueCyr_Medium" !important;
    margin-top: 6px;
}

.vedeo_text22 {
    font-size: 20px !important;
    color: #484f54 !important;
    font-family: "Helvetica_Light" !important;
}

.favoti_left {
    float: right;
    padding-right: 0px;
}

.img_zir {
    width: 30px !important;
    height: 30px !important;
    float: right;
}

.user_information_block p b {
    color: #7b8185 !important;
    text-transform: uppercase;
    font-family: "Helvetica_NeueCyr_Medium" !important;
    font-size: 16px;
    margin-right: 10px;
}

.user_information_block p span {
    color: #484f54 !important;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    font-size: 20px;
}

.eauth-list {
    list-style: none;
    padding-left: 0px;
}

.eauth-list:after {
    content: '';
    clear: both;
}

.h3_voit {
    text-align: center;
    color: #4a4e51;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    font-size: 29px;
}

.p_basel_p {
    text-align: center;
    color: #4a4e51;
    font-family: "Helvetica_NeueCyr_Roman" !important;
    font-size: 16px;
    margin-bottom: 20px;
}

.left_menu_sidebar a {
    color: #788277;
    font-family: "Helvetica_NeueCyr_Medium" !important;
    font-size: 17px;
}

.show_more_video_btn:focus, .show_more_video_btn:hover {
    background-color: transparent;
    border: 1px solid #80c565;
    border-radius: 25px;
    color: #484f54;
    display: block;
    position: relative;
    bottom: 10px;
    outline: none;
}

.img_outl_non:focus {
    outline: none;
}

.user_avatar_change {
    border-radius: 50%;
    width: 100px !important;
    height: 100px !important;
}

.cancel_profile_button:focus, .change_avatar_button:focus, .p_name_sett_dd:focus, .cancel_profile_button:active, .change_avatar_button:active, .p_name_sett_dd:active {
    outline: none !important;
}

.edit_profile_button:focus {
    outline: none !important;
}

.edit_profile_button:hover {
    background: none !important;
}
.a_sbros:active, .a_sbros:focus{
    color: #484f54!important;
    outline: none!important;
    text-decoration: none!important;
}
.a_usk:active, .a_usk:focus{
    color: white!important;
    outline: none!important;
    text-decoration: none!important;
}
@media (min-width: 320px) and (max-width: 450px) {
    .pad_dd {
        padding: 0;
    }

    input.search_filter {
        font-size: 15px;
    }

    .left_menu_sidebar a {
        color: #788277;
        font-family: "Helvetica_NeueCyr_Medium" !important;
        font-size: 14px;
    }

    .left_menu_sidebar li button {
        color: #788277 !important;
        box-shadow: none !important;
        font-size: 14px;
    }

    .img_vid_ff {
        width: 50px !important;
        border-radius: 30px !important;
        height: 50px !important;
    }

    .headerInformationBlock .vedeo_art {
        font-size: 15px !important;
        color: #484f54 !important;
        font-family: "Helvetica_NeueCyr_Medium" !important;
        margin-top: 4px;
    }

    .headerInformationBlock .vedeo_text {
        font-size: 14px !important;
        color: #484f54 !important;
        font-family: "Helvetica_Light" !important;
    }

    .clas_img_rr {
        width: 100%;
        height: 200px;
    }

    .vedeo_art22 {
        font-size: 16px !important;
        padding-left: 7px;
    }

    .vedeo_text22 {
        font-size: 15px !important;
        padding-left: 7px;
    }

    .otherVideoBlock img {
        width: 100px !important;
        height: 85px;
    }

    .edit_profile_button {
        margin-bottom: 7px;
    }

    .user_information_block p b {
        font-size: 15px;
    }

    .user_information_block p span {
        font-size: 18px;
    }
}

@media (min-width: 451px) and (max-width: 767px) {
    .user_name_c {
        font-size: 20px;
    }

    .div_sd_sd {
        padding: 15px 15px 5px 5px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .user_name_c {
        font-size: 20px;
    }

    .div_sd_sd {
        padding: 15px 15px 5px 5px !important;
    }

    .left_menu_sidebar li button {
        font-size: 13px;
        padding: 1em 1em 1em 1.2em;
    }

    .left_menu_sidebar li a {
        padding: 1em 0em 1em 1em;
    }

    .site_header_block {
        height: 115px;
    }

    .padd_top_nonr {
        padding-top: 0px !important;
    }

    .row_padd_top_22 {
        padding-top: 112px !important;
    }

    .videoBoxContent .video_item.prem img {
        width: 100%;
        height: 200px;
    }

    .las_video_33 {
        padding-left: 12px;
        padding-right: 20px;
    }

    .img_vid_ff {
        width: 50px !important;
        border-radius: 30px !important;
        height: 50px !important;
    }

    .headerInformationBlock {
        position: absolute;
        left: 90px;
    }

    .clas_padd_ic2 {
        padding: 15px 13px !important;
    }

    .show_more_video_btn {
        bottom: 0px;
    }

    .show_more_video_btn:focus, .show_more_video_btn:hover {
        background-color: transparent;
        border: 1px solid #80c565;
        border-radius: 25px;
        color: #484f54;
        display: block;
        position: relative;
        bottom: 0px;
        outline: none;
    }

    .edit_profile_button {
        float: none;
        margin-bottom: 15px;
    }

    .p_roman_dd {
        font-family: "Helvetica_NeueCyr_Roman" !important;
        color: #484f54 !important;
    }

    .profile_show_arrow_back {
        background-image: url(/images/video/arrow_left_icon.png);
        background-repeat: no-repeat;
        background-size: 100%;
        top: 3px;
        left: 3px;
        width: 23px;
        height: 23px;
        z-index: 100;
        position: relative;
    }

    .heig_cl_23 {
        background-color: #80c565;
        padding: 11px 8px 12px 10px !important;
        height: 57px !important;
        margin-bottom: 18px !important;
    }

    .user_information_block {
        margin-top: 15px !important;
    }

    .video_item .headerInformationBlock .vedeo_art {
        font-size: 15px !important;
    }
    .vedeo_art22 {
        font-size: 18px !important;
    }
    .vedeo_art2233 {
        font-size: 15px !important;
    }
    .vedeo_text22 {
        font-size: 16px !important;
    }
    .vedeo_text2233 {
        font-size: 13px !important;
    }
    .clas_img_rr {
        width: 100%;
        height: 189px;
    }
    .arr_dd {
        top: 3px;
    }
    .h3_des {
        font-size: 17px;
    }
    .otherVideoBlock img {
        width: 62px !important;
        height: 59px;
    }
}